@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/jetbrainsmono/jetbrainsmono.ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/jetbrainsmono/jetbrainsmono-italic.ttf') format('truetype');
    font-weight: 100 800;
    font-style: italic;
    font-display: swap;
}
