---
import Layout from "../layouts/Layout.astro";

const pageTitle = "About";
---

<Layout title={pageTitle}>
  <h1>About me</h1>
  <p>
    I'm a web developer who loves to learn new things. I'm currently learning
    Astro, a new kind of static site builder that delivers lightning-fast
    performance with a modern developer experience.
  </p>
</Layout>
