---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Contact";
---

<Layout title={pageTitle}>
  <h1>Contact me</h1>
  <p>
    You can reach me at <a href="mailto:test@example.com">test@example.com</a>.
  </p>
</Layout>
