---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Portfolio";
---

<Layout title={pageTitle}>
  <h1>Welcome to my personal portfolio</h1>
  <p>
    Astro is a new kind of static site builder that delivers lightning-fast
    performance with a modern developer experience.
  </p>
</Layout>
