---
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <Navigation />
  </nav>
</header>

<style lang="scss">
  nav {
    max-width: var(--content-width);
    margin: auto;
  }
</style>
